# Copyright (c) 2020 The ZMK Contributors
# SPDX-License-Identifier: MIT

menuconfig CSENSE
	bool "Capacitive sensor for nRF5"
	depends on GPIO
	help
	  Enable driver for capacitive sensors for the Nordic nRF5 series

if CSENSE

config CSENSE_THREAD_PRIORITY
	int "Thread priority"
	default 10
	help
	  Priority of thread used by the driver to handle interrupts.

config CSENSE_THREAD_STACK_SIZE
	int "Thread stack size"
	default 128
	help
	  Stack size of thread used by the driver to handle interrupts.

endif # CSENSE
